<html data-theme="bumblebee">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>책 리뷰 목록</title>
</head>

<body>
<header layout:fragment="header" class="sticky top-0 z-50">
    <div class="navbar max-w-2xl mx-auto bg-base-100">
        <div class="navbar-start">
        </div>
        <div class="navbar-center">
            <a href="/home/main" class="btn btn-ghost text-xl">Favourite</a>
        </div>
        <div class="navbar-end">
            <div class="dropdown">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
                </div>
                <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                    <li><a th:href="@{/review/booklist}">Book review</a></li>
                    <li><a th:href="@{/review/movielist}">Movie review</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full px-4">
        <h1 class="text-3xl font-bold mb-4">책 리뷰 목록</h1>
        <a th:href="@{/review/write}" class="btn btn-neutral mb-4">작성하기</a>
        <!-- 리뷰 목록 -->
        <div th:each="review : ${reviews}" class="review-card bg-white p-4 shadow-lg rounded-lg mb-4">
            <div class="review-title text-xl font-bold mb-2" th:text="${review.title}">Review Title</div>
            <div class="review-info flex justify-between items-center mb-2">
                <div>
                    <p>저자명: <span th:text="${review.author}">Review Author</span></p>
                    <p>평점: <span th:text="${review.rate}">Rating</span></p>
                    <p>추천 수: <span th:text="${review.recommend}">Recommend</span></p>
                </div>
                <!-- 수정 및 삭제 버튼 -->
                <div class="review-actions">
                    <a th:href="@{/review/update/{id}(id=${review.id})}" class="btn btn-primary">수정</a>
                    <a th:href="@{/review/delete/{id}(id=${review.id}, password=${review.password})}" class="btn btn-error">삭제</a>
                    <!-- 추천 버튼 -->
                    <button class="btn btn-success" th:id="'recommendButton_' + ${review.id}" th:onclick="'recommendReview(' + ${review.id} + ')'" th:text="'추천하기'"></button>
                </div>
            </div>
            <!-- 한줄평 -->
            <div class="review-content" th:text="${review.content}">One-line Review</div>
        </div>
    </div>
</main>
</body>
</html>
