<html layout:decorate="~{common/layout.html}">
<head>
    <title>리뷰 작성하기</title>
    <script>
        function validateForm() {
            var submitBtn = document.getElementById('submitBtn');

            const title = document.getElementById("title").value;
            const author = document.getElementById("author").value;
            const content = document.getElementById("content").value;
            const rate = document.querySelector('input[name="rate"]:checked');

            if (title.trim().length === 0) {
                toastWarning("제목을 입력해주세요.");
                return false;
            }

            if (author.trim().length === 0) {
                toastWarning("저자명/감독명을 입력해주세요.");
                return false;
            }

            if (content.trim().length === 0) {
                toastWarning("내용을 입력해주세요.");
                return false;
            }

            if (!rate) {
                toastWarning("평점을 선택해주세요.");
                return false;
            }

            if (title.length > 20) {
                toastWarning("제목은 최대 20자까지 작성 가능합니다.");
                return false;
            }

            document.getElementById('submitBtn').disabled = true;

            return true;
        }

        $(document).ready(function () {
            $('#content').on('keyup', function () {
                $('#contentCount').html("(" + $(this).val().length + " / 100)");

                if ($(this).val().length > 100) {
                    toastWarning("내용은 최대 100자까지 작성 가능합니다.");
                    $(this).val($(this).val().substring(0, 100));
                    $('#contentCount').html("(100 / 100)");
                }
            });
        });
    </script>
</head>
<body>
<header layout:fragment="header" class="sticky top-0 z-50">
    <div class="navbar max-w-2xl mx-auto bg-base-100">
        <div class="navbar-start">
        </div>
        <div class="navbar-center">
            <a th:href="@{/}" class="btn btn-ghost text-xl">Favourite</a>
        </div>
        <div class="navbar-end">
            <div class="dropdown dropdown-bottom dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h16M4 18h7"/>
                    </svg>
                </div>
                <ul tabindex="0"
                    class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                    <li>
                        <a href="/review/booklist">
                            <i class="fa-solid fa-book text-xl mr-2"></i> <!-- 아이콘 추가 -->
                            Book review
                        </a>
                    </li>
                    <li>
                        <a href="@review/movielist">
                            <i class="fa-solid fa-film text-xl mr-2"></i> <!-- 아이콘 추가 -->
                            Movie review
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAnonymous()" href="/user/login">login</a>
                        <a class="nav-link" sec:authorize="isAuthenticated()" href="@{/user/logout">logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4">
            <i class="fa-solid fa-pen-to-square"></i>
            리뷰 작성하기
        </h1>
        <div class="flex flex-col gap-4">
            <div class="card bg-base-100 shadow-xl">
                <div class="card-body">
                    <form th:action="@{/review/write}" method="post" onSubmit="return validateForm()">
                        <!-- 제목 필드 -->
                        <div class="mb-4">
                            <label for="title" class="block text-gray-700 text-sm font-bold mb-2">제목</label>
                            <input type="text" id="title" name="title" class="input input-bordered w-full"
                                   placeholder="Title" maxlength="20">
                        </div>

                        <!-- Author 입력 필드 추가 -->
                        <div class="mb-4">
                            <label for="author" class="block text-gray-700 text-sm font-bold mb-2">저자명/감독명</label>
                            <input type="text" id="author" name="author" class="input input-bordered w-full"
                                   placeholder="Author" maxlength="10">
                        </div>

                        <!-- 내용 필드 -->
                        <div class="mb-4">
                            <label for="content" class="block text-gray-700 text-sm font-bold mb-2">한줄평</label>
                            <textarea id="content" name="content" class="textarea textarea-bordered w-full"
                                      placeholder="Content" maxlength="100"></textarea>
                            <div id="contentCount" class="text-right">(0 / 100)</div>
                        </div>

                        <!-- 카테고리 선택 -->
                        <div class="mb-4">
                            <label for="category" class="block text-gray-700 text-sm font-bold mb-2">카테고리</label>
                            <select id="category" name="category" class="select select-bordered w-full">
                                <option value="1">Book</option>
                                <option value="2">Movie</option>
                            </select>
                        </div>

                        <!-- 평점 입력 -->
                        <div class="mb-4">
                            <label class="block text-gray-700 text-sm font-bold mb-2">평점</label>
                            <div class="rating">
                                <input type="radio" id="star1" name="rate" value="1" class="mask mask-star-2 bg-orange-400" />
                                <label for="star1" class="cursor-pointer"></label>
                                <input type="radio" id="star2" name="rate" value="2" class="mask mask-star-2 bg-orange-400" />
                                <label for="star2" class="cursor-pointer"></label>
                                <input type="radio" id="star3" name="rate" value="3" class="mask mask-star-2 bg-orange-400" />
                                <label for="star3" class="cursor-pointer"></label>
                                <input type="radio" id="star4" name="rate" value="4" class="mask mask-star-2 bg-orange-400" />
                                <label for="star4" class="cursor-pointer"></label>
                                <input type="radio" id="star5" name="rate" value="5" class="mask mask-star-2 bg-orange-400" checked />
                                <label for="star5" class="cursor-pointer"></label>
                            </div>
                        </div>


                        <!-- 제출 버튼 -->
                        <div class="mb-4 flex justify-end">
                            <button type="submit" id="submitBtn" class="btn btn-outline">작성</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
