<html data-theme="garden">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>리뷰 작성하기</title>

    <script>
        function validateForm() {
            let submitBtn = document.getElementById("submitBtn");
            if (submitBtn.disabled) {
                toastWarning("잠시만 기다려주세요.");
                return false;
            }

            const title = document.getElementById("title").value;
            const content = document.getElementById("content").value;
            submitBtn = document.getElementById('submitBtn');


            if (title.trim().length === 0) {
                toastWarning("제목을 입력해주세요.");
                return false;
            }

            if (content.trim().length === 0) {
                toastWarning("내용을 입력해주세요.");
                return false;
            }

            if (title.length > 20) {
                toastWarning("제목은 최대 20자까지 작성 가능합니다.");
                return false;
            }
            submitBtn.disabled = true; // 버튼을 비활성화

            setTimeout(function () {
                submitBtn.disabled = false; // 일정 시간 후에 버튼을 다시 활성화
            }, 10000); // 10초 (10000 밀리초) 동안 버튼을 비활성화

            return true;
        }

        $(document).ready(function () {
            $('#content').on('keyup', function () {
                $('#contentCount').html("(" + $(this).val().length + " / 200)");

                if ($(this).val().length > 200) {
                    toastWarning("내용은 최대 200자까지 작성 가능합니다.");
                    $(this).val($(this).val().substring(0, 200));
                    $('#contentCount').html("(200 / 200)");
                }
            });
        });
    </script>
</head>
<body>
<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full px-4">
        <h1 class="mb-4">
            <i class="fa-solid fa-pen-to-square"></i>
        </h1>
        <div class="flex flex-col gap-4">
            <div class="card bg-base-100 shadow-xl">
                <div class="card-body">
                    <form th:action="@{/review/write}" method="post" onSubmit="return validateForm()">
                        <!-- 제목 필드 -->
                        <div class="mb-4">
                            <label for="title" class="block text-gray-700 text-sm font-bold mb-2">제목</label>
                            <input type="text" id="title" name="title" class="input input-bordered w-full"
                                   placeholder="Title" maxlength="20">
                        </div>

                        <!-- Author 입력 필드 추가 -->
                        <div class="mb-4">
                            <label for="author" class="block text-gray-700 text-sm font-bold mb-2">저자명/감독명</label>
                            <input type="text" id="author" name="author" class="input input-bordered w-full"
                                   placeholder="Author" maxlength="10">
                        </div>

                        <!-- 내용 필드 -->
                        <div class="mb-4">
                            <label for="content" class="block text-gray-700 text-sm font-bold mb-2">한줄평</label>
                            <textarea id="content" name="content" class="textarea textarea-bordered w-full"
                                      placeholder="Content" maxlength="100"></textarea>
                            <div id="contentCount" class="text-right">(0 / 100)</div>
                        </div>

                        <!-- 카테고리 선택 -->
                        <div class="mb-4">
                            <label for="category" class="block text-gray-700 text-sm font-bold mb-2">카테고리</label>
                            <select id="category" name="categoryId" class="select select-bordered w-full">
                                <option value="1">Book</option>
                                <option value="2">Movie</option>
                            </select>
                        </div>

                        <!-- 평점 입력 -->
                        <div class="mb-4">
                            <label for="rate" class="block text-gray-700 text-sm font-bold mb-2">평점 (1-5)</label>
                            <input type="number" id="rate" name="rate" class="input input-bordered w-full"
                                   placeholder="Rating" min="1" max="5">
                        </div>

                        <!-- 비밀번호 입력 -->
                        <div class="mb-4">
                            <label for="password" class="block text-gray-700 text-sm font-bold mb-2">비밀번호 (4자리)</label>
                            <input type="password" id="password" name="password" class="input input-bordered w-full"
                                   placeholder="Password" maxlength="4">
                        </div>

                        <!-- 제출 버튼 -->
                        <div class="mb-4 flex justify-end">
                            <button type="submit" id="submitBtn" class="btn btn-primary">작성</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
