<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Favourite</title>
</head>
<body>
<!-- 상단바 -->
<nav>
    <ul>
        <li><a href="/review/booklist">책 리뷰</a></li>
        <li><a href="/review/movielist">영화 리뷰</a></li>
    </ul>
</nav>

<!-- 페이지 컨텐츠를 여기에 삽입 -->
<div th:insert="~{content :: content}"></div>
</body>
</html>
