<html layout:decorate="~{common/layout.html}">
<head>
    <title>Favourite</title>
</head>

<body>
<header layout:fragment="header" class="sticky top-0 z-50">
    <div class="navbar max-w-2xl mx-auto bg-base-100">
        <div class="navbar-start">
        </div>
        <div class="navbar-center">
            <a th:href="@{/}" class="btn btn-ghost text-xl">Favourite</a>
        </div>
        <div class="navbar-end">
            <div class="dropdown dropdown-bottom dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                         stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M4 6h16M4 12h16M4 18h7"/>
                    </svg>
                </div>
                <ul tabindex="0"
                    class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
                    <li>
                        <a th:href="@{/review/booklist}">
                            <i class="fa-solid fa-book text-xl mr-2"></i> <!-- 아이콘 추가 -->
                            Book review
                        </a>
                    </li>
                    <li>
                        <a th:href="@{/review/movielist}">
                            <i class="fa-solid fa-film text-xl mr-2"></i> <!-- 아이콘 추가 -->
                            Movie review
                        </a>
                    </li>
                    <li>
                        <a sec:authorize="isAnonymous()" th:href="@{/user/login}">
                            <i class="fa-solid fa-power-off text-xl mr-2"></i>
                            Login
                        </a>
                        <a sec:authorize="isAuthenticated()" th:href="@{/user/logout}">
                            <i class="fa-solid fa-arrow-right-from-bracket text-xl mr-2"></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<main layout:fragment="main" class="flex-grow flex items-center justify-center">
    <div class="max-w-2xl w-full px-4 text-center">
        <h1 class="text-3xl font-bold mb-4"><i class="fa-solid fa-magnifying-glass"></i> 리뷰 구경하기</h1>
        <div class="flex flex-col gap-4">
            <div class="card bg-base-100 shadow-xl">
                <div class="card-body flex">
                    <a th:href="@{/review/booklist}" class="btn btn-lg btn-primary flex-auto"><i
                            class="fa-solid fa-book"></i>BOOK</a>
                    <a th:href="@{/review/movielist}" class="btn btn-lg btn-secondary flex-auto"><i
                            class="fa-solid fa-film"></i>MOVIE</a>
                </div>
            </div>
        </div>
    </div>
</main>


</body>
</html>
