<html data-theme="bumblebee">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
<header layout:fragment="header" class="sticky top-0 z-50">
    <div class="navbar max-w-2xl mx-auto bg-base-100">
        <div class="navbar-start">
        </div>
        <div class="navbar-center">
            <a href="/home/main" class="btn btn-ghost text-xl">Favourite</a>
        </div>
        <div class="navbar-end">
        </div>
    </div>
</header>
<main class="p-4">
    <div class="text-center">
        <h1 class="text-3xl font-bold mb-4">리뷰 구경하기</h1>
        <div class="flex justify-center gap-4">
            <a href="/review/booklist" class="btn btn-primary">책</a>
            <a href="/review/movielist" class="btn btn-secondary">영화</a>
        </div>
    </div>
</main>

</body>
</html>
