<html data-theme="bumblebee">
<head>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.4.19/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Favourite</title>
</head>

<body>
<header layout:fragment="header" class="sticky top-0 z-50">
    <div class="navbar max-w-2xl mx-auto bg-base-100">
        <div class="navbar-start">
        </div>
        <div class="navbar-center">
            <a href="/home/main" class="btn btn-ghost text-xl">Favourite</a>
        </div>
        <div class="navbar-end">
        </div>
    </div>
</header>
<main class="flex flex-col justify-start items-center min-h-screen pt-20">
    <div class="text-center">
        <h1 class="text-4xl font-bold mb-12">리뷰 구경하기</h1>
        <div class="flex justify-center gap-5">
            <a href="/review/booklist" class="btn btn-lg btn-primary">책</a>
            <a href="/review/movielist" class="btn btn-lg btn-secondary">영화</a>
        </div>
    </div>
</main>

</body>
</html>
